In [45]:
# Review : Exploratory Data Analysis con Pandas y Preprocessing
#### UD1. Introducción al Machine Learning
#### MP. Sistemas de Aprendizaxe Automático
#### IES de Teis (Vigo), Cristina Gómez Alonso

En este cuarto notebook repasaremos los conceptos trabajados anteriormente

### *Ejercicio 0: Importación*

Carga en un dataframe el fichero adultss.csv y muestra las primeras 10 filas.

In [46]:
import pandas as pd
adults = pd.read_csv('data/adult.csv',skipinitialspace=True,index_col=False)
adults.head(10)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,gains
0,50.0,Self-emp-not-inc,83311,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13.0,United-States,<=50K
1,38.0,Private,215646,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40.0,United-States,<=50K
2,53.0,Private,234721,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40.0,United-States,<=50K
3,28.0,Private,338409,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40.0,Cuba,<=50K
4,37.0,Private,284582,Masters,14.0,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40.0,United-States,<=50K
5,49.0,Private,160187,9th,5.0,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16.0,Jamaica,<=50K
6,52.0,Self-emp-not-inc,209642,HS-grad,9.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45.0,United-States,>50K
7,31.0,Private,45781,Masters,14.0,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50.0,United-States,>50K
8,42.0,Private,159449,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40.0,United-States,>50K
9,37.0,Private,280464,Some-college,10.0,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80.0,United-States,>50K

### *Ejercicio 1: Datos generales*

1. ¿Cuántas filas y columnas tiene el dataset?

In [47]:
adults.shape

(32560, 15)

2. Muestra información detallada de cada columna. Para cada tipo de datos, ¿Cuántas columnas tienes de dicho tipo?

In [48]:
adults.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32559 non-null  float64
 1   workclass       32557 non-null  object
 2   fnlwgt          32560 non-null  int64
 3   education       32560 non-null  object
 4   education-num   32554 non-null  float64
 5   marital-status  32560 non-null  object
 6   occupation      32560 non-null  object
 7   relationship    32560 non-null  object
 8   race            32558 non-null  object
 9   sex             32560 non-null  object
 10  capital-gain    32560 non-null  int64
 11  capital-loss    32560 non-null  int64
 12  hours-per-week  32552 non-null  float64
 13  native-country  32560 non-null  object
 14  gains           32560 non-null  object
dtypes: float64(3), int64(3), object(9)
memory usage: 3.7+ MB

3. Muestra información estadística de cada columna numérica y responde a las siguientes preguntas.¿Cuantos años tiene el usuario más mayor y el más joven? ¿Cuál es la mayor ganancia para un usuario? ¿En qué cuartil se superan las 40h semanales de trabajo?

In [49]:
adults.describe()
adults['hours-per-week'].quantile(0.8)

48.0

4. ¿Existen nulos en alguna de las columnas?

In [50]:
#adults.isnull().sum()
adults[adults['education-num'].isnull()]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,gains
33,22.0,State-gov,311512,Some-college,NaN,Married-civ-spouse,Other-service,Husband,Black,Male,0,0,15.0,United-States,<=50K
328,66.0,Private,127921,HS-grad,NaN,Never-married,Transport-moving,Not-in-family,White,Male,2050,0,55.0,United-States,<=50K
375,33.0,Private,267404,HS-grad,NaN,Married-civ-spouse,Craft-repair,Wife,White,Female,0,0,40.0,United-States,<=50K
409,41.0,Local-gov,42346,Some-college,NaN,Divorced,Other-service,Not-in-family,Black,Female,0,0,24.0,United-States,<=50K
439,29.0,Private,363425,Bachelors,NaN,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,40.0,United-States,<=50K
807,64.0,Private,270333,Bachelors,NaN,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40.0,United-States,>50K

### *Ejercicio 3: Índices*

1. ¿Qué valores diferentes tiene la columna relationship? ¿En qué proporción?

In [51]:
adults['relationship'].value_counts()
#adults['relationship'].value_counts(normalize=True)*100

Husband           13193
Not-in-family      8304
Own-child          5068
Unmarried          3446
Wife               1568
Other-relative      981
Name: relationship, dtype: int64

2. ¿Y la columna native-country?

In [52]:
adults['relationship'].value_counts()

Husband           13193
Not-in-family      8304
Own-child          5068
Unmarried          3446
Wife               1568
Other-relative      981
Name: relationship, dtype: int64

3. Crea un nuevo dataframe llamado adultss_new_index con un índice para las columna relationship y native-country.

In [53]:
adults_new_index = adults.set_index(['relationship'],['native-country'])
adults_new_index.sort_index(inplace=True)

/tmp/ipykernel_4975/4052346241.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.set_index except for the argument 'keys' will be keyword-only.
  adults_new_index = adults.set_index(['relationship'],['native-country'])

### *Ejercicio 4: Selección de datos específicos por columna/fila*

1. Muestra los datos exclusivamente de las columnas edad, sexo y ganancias.
2. Sobre el conjunto anterior muestra las últimas 10 filas.

3. Muestra los datos de las columnas primera, segunda, tercera y quinta para las 100 primeras filas. Ordena el resultado de forma descendente por edad.

In [56]:
adults[['age','sex','gains']].tail(10)

adults.iloc[:100,[0,1,2,4]]
adults.sort_values(by="age")

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,gains
22478,17.0,Private,184198,11th,7.0,Never-married,Sales,Own-child,White,Female,0,0,13.0,United-States,<=50K
6541,17.0,?,454614,11th,7.0,Never-married,?,Own-child,White,Female,0,0,8.0,United-States,<=50K
19235,17.0,Private,225106,10th,6.0,Never-married,Other-service,Own-child,White,Female,0,1602,18.0,United-States,<=50K
26806,17.0,Private,101626,9th,5.0,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,20.0,United-States,<=50K
608,17.0,Private,169658,10th,6.0,Never-married,Other-service,Own-child,White,Female,0,0,NaN,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1934,90.0,Private,221832,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45.0,United-States,<=50K
18412,90.0,Private,313749,Bachelors,13.0,Never-married,Prof-specialty,Own-child,White,Female,0,0,10.0,United-States,<=50K
15355,90.0,Private,90523,HS-grad,9.0,Widowed,Transport-moving,Unmarried,White,Male,0,0,99.0,United-States,<=50K
18276,90.0,Private,311184,Bachelors,13.0,Married-civ-spouse,Sales,Husband,White,Male,0,0,20.0,?,<=50K
50,NaN,Private,226956,HS-grad,9.0,Never-married,Other-service,Own-child,White,Female,0,0,30.0,?,<=50K

4. Muestra las 4 últimas columnas para todas las filas.

In [ ]:
adults.iloc[:,-4:]

5. Utilizando el dataframe que has creado en el ejercicio 3.3, recupera el número de usuarios/as de nacionalidad cubana y solteros/as.  ¿Cómo lo harías sobre el dataframe adultss que no tiene dicho índice?

In [ ]:
adults[(adults['relationship'] =='Unmarried') & (adults['native-country'] =='Cuba')]

6. EXTRA1: Busca todas aquellas mujeres solteras de nacionalidad cubana

In [ ]:

adults[(adults['relationship'] =='Unmarried') & (adults['native-country'] =='Cuba') & (adults['sex']=='Female')]

7. EXTRA2: Busca todas aquellas mujeres solteras de nacionalidad cubana que trabajen más de 40 horas a la semana

8. EXTRA3: Crea un nuevo dataframe que contenga exclusivamente a aquellos usuarios con nacionalidad portuguesa, francesa o nord-americana. Pista: utiliza la función isin. Borra las columnas occupation, capital-gain y capital-loss. Crea una nueva columna 'age-range' que tome los valores young para usuarios menores de 30 años, old para mayores de 60 y intermediate en cualquier otro caso.

9. EXTRA4: Busca información sobre las funciones isnull, dropna y fillna. ¿Para qué se utilizan? Por un ejemplo interesante para cada una de ellas dónde se demuestre su utilidad.

### *Ejercicio 5: Agrupaciones*

1. Tomando los datos presentes en este dataset, ¿Cuál es la nacionalidad que tiene una mayor media de edad? ¿Y menor media?

### *Ejercicio 6: Gráficos*

1. Para cada columna (o feature) numérica, crea un gráfico de barras que muestre su distribución de valores.

2. EXTRA: A continuación tienes un código que crea gráficos que muestran la distribución de las ganancias respecto al resto de columnas. Extrae conclusiones de los resultados y propón realizar estos gráficos para otra columna que consideres de interés.

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

df_numerics = adults.select_dtypes(include = np.number)

figure=plt.figure(figsize = (15, 6))

for i, column in enumerate(df_numerics.columns, 1):
    axes = figure.add_subplot(3,3,i)
    sns.kdeplot(x = df_numerics[column], hue = adults['gains'], fill = True, ax = axes)
    figure.tight_layout()

### *Ejercicio 7: Valores missing*

1. Gestiona los valores nulos con la técnica del rellenado. ¿Qué valores piensas que deberían de tener los nulos presentes en el dataset?

2. Borra las columnas fnlwgt, education, capital_gain y capital_loss.

### *Ejercicio 8: Datos categóricos*

1. Transforma todas las columnas categóricas a numéricas con un LabelEncoder.

### *Ejercicio 9: Escalado de los datos*

1. EXTRA1: Divide el dataset en 4 grupos (training y testing).
2. EXTRA2: Escala las columnas categóricas con un StandardScaler.

# Webgrafía


[Curso de Cesar Guirò](https://cesguiro.es/doku.php?id=clase:ia:saa:start)
[Curso de Luz Frías](https://github.com/koldLight/curso-python-analisis-datos)
[Curso de Tirtjakupto Sarkar](https://github.com/tirthajyoti/Machine-Learning-with-Python)
[DataCamp](https://www.datacamp.com/)

# Licencia

[Attributon-ShacerAlike 4.0 International](https://creativecommons.org/licenses/by-sa/4.0/)

Puedes utilizar libremente este material, con las siguientes condiciones:

* Atribuir la autoría a este documento.
* Si lo utilizas y haces cambios, deberás liberarlo también bajo la misma licencia.